Package: libpixman-1-0-dbgsym
Source: pixman
Version: 0.36.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian X Strike Force <debian-x@lists.debian.org>
Installed-Size: 1951
Depends: libpixman-1-0 (= 0.36.0-1)
Breaks: libpixman-1-0-dbg (<< 0.34.0-2~)
Replaces: libpixman-1-0-dbg (<< 0.34.0-2~)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libpixman-1-0
Build-Ids: 3c6d56f67ac0aba81360c7e88f0ae41b66e58c00
